project:
  type: website

website:
  title: "Swarna's Mathematical Corpus"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: Logic.qmd
        text: Logic

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



